.mod-cm6 .cm-editor .HyperMD-header, .markdown-reading-view .markdown-preview-section :is(h1,h2,h3,h4,h5,h6) {
    line-height: 1.1em !important;
    margin: 2px 0px 2px 0px !important;
}

.el-p p{ 
    margin: 0px 0px 10px 0px !important; 
}